.myjumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #02020291;
    border-radius: .3rem;
}

.mycarousel-caption{
    
    text-align: left !important;
}
footer{
    background-color: #337ab7;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.title{
    font-family: 'Montserrat', sans-serif;
}
.text{
    font-family: 'Quicksand', sans-serif;
}
.blue{
    color: #337ab7;
}
.white{
    color: #ffffff;
}
footer a{
    text-decoration: none;
    color: #fff;
}
@media only screen and (min-width: 990px) {
    .carousel-item img{
        width: 100%;
    }
    .myhr{
        border-top: 0.8px solid rgb(0, 47, 255);
    }
    .navbar{
        padding: 2.5rem 1rem;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 3em;
        width: 100%;
        background-color: transparent !important;
        box-sizing: border-box;
        padding: 12px 18px;
        transition: background-color 0.4s ease-out;
    }
    .nav-link{
        color: #ffffff !important;
    }
      
}
    
    
  
@media only screen and (max-width: 990px) {
    .carousel-item img{
        height: 100%;
    }
    .myhr{
        border-top: 0.8px solid rgb(0, 47, 255);
    }
    .navbar{
        padding: 0.5rem 1rem;
       }
       nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 5em;
        width: 100%;
        background-color: transparent !important;
        box-sizing: border-box;
        padding: 12px 18px;
        transition: background-color 0.4s ease-out;
      }
      .nav-link{
        color: #575757 !important;
    }
      
    }
   

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
 
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '+';
  font-size: 55px;
  color: rgb(134, 150, 243);
}

.carousel-control-prev-icon:after {
  content: '+';
  font-size: 55px;
  color: rgb(134, 150, 243);
}
.black_box{
    background: rgb(0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 50% ;
    border: 2px solid rgb(66, 66, 66);
    margin: 0.3rem;
}
.red_box{
    background: #c62828;
    height: 20px;
    width: 20px;
    border-radius: 50% ;
    border: 2px solid rgb(66, 66, 66);
    margin: 0.3rem;
}
.blue_box{
    background: #337ab7;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid rgb(66, 66, 66);
    margin: 0.3rem;
}
.grey_box{
    background: #424242;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid rgb(66, 66, 66);
    margin: 0.3rem;
}
.mycard{
    border: 1px solid #a7a7a7a1;
    border-radius: 30px;
}
.mycard-text{
    font-size: 0.8rem;
    color: rgb(98, 98, 98);
}
.mydisplay-4{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.parallax {
    /* The image used */
    background-image: url("../img/1920.jpg") ;
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  .bg_jumbotron{
      background-color: rgba(0, 0, 0, 0.513) !important;
      color: rgb(255, 255, 255) !important;
      border-radius: 10px;
      margin: 50px auto;
  }

  

  /* gallery */

  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
        .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        }
    }

   #products .card img{
       width: 100vw;
       height: 250px;
       object-fit: cover;
   }
   .mycarousel .carousel-item img{
    width: 100vw;
    height: 900px;
    object-fit: cover;
   }  

    nav.scroll {
        background-color: #337ab7 !important;        
      }
     
    .list-inline-item a i{
        color: #ffffff;
    }
     